#color-picker{
    display: grid;
    grid-template-rows: 25px 1fr;
    background-color:rgb(66, 66, 66);
    left: 200px;
    top: 200px;
    width: 600px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.57);
}

#color-picker header{
    grid-row: 1;
    background-color: rgb(154, 154, 154);
    border-radius: 4px 4px 0 0;
}

#color-picker header span{
    font-family: Montserrat-Regular;
    line-height: 25px;
    margin-left: 10px;
    font-size: 12pt;
    color: black; 
    width: 200px;
    user-select: none;
}

#body{
    display: grid;
    grid-template-columns: 271px 40px 1fr;
}

#body #color-square{
    position: absolute;
    grid-row: 1;
    grid-column: 1;
    width: 256px;
    height: 256px;
    margin: 15px 0 0 15px;
}

#body #color-slider{
    position: absolute;
    grid-column: 1;
    width: 256px;
    height: 256px;
    margin: 15px 0 0 15px;
    user-select: none;     
}

#hue-slider{
    position: relative;
    grid-column: 2;
    width: 10px;
    height: 256px;
    margin: 15px 15px 0 15px;
    background: linear-gradient(to bottom,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%);
    background-clip: content-box;
    border-radius: 5px;
}

.selector{
    position: absolute;
    left: -5px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow:0px 0px 0px 2px white inset;
}

#color-selector{
    left: -10px;
}

#values{
    display: grid;
    grid-column: 3;
    grid-template-rows: 80px 40px 40px 40px 40px 40px;
    grid-template-columns: 115px 115px;
}

#values #new-color, #old-color{
    grid-row: 1;
    width: 90%;
    height: 70%;
    align-self: center;
    justify-self: center;
}

#values #new-color{
    grid-column: 1;
}

#values #old-color{
    grid-column: 2;
}

#values .input{
    align-self: center;
    margin-right: 15px;
}

#values #hue{
    grid-column: 1;
    grid-row: 2;
}

#values #saturation{
    grid-column: 1;
    grid-row: 3;
}

#values #alpha{
    grid-column: 1;
    grid-row: 5;
}

#values #lightness{
    grid-column: 1;
    grid-row: 4;
}

#values #red{
    grid-column: 2;
    grid-row: 2;
}

#values #green{
    grid-column: 2;
    grid-row: 3;
}

#values #blue{
    grid-column: 2;
    grid-row: 4;
}

#values #hex{
    grid-column: 1;
    grid-area: 6 / 1 / span 1 / span 2;
    width: 120px;
}